.muscle-groups {
  display: flex;
  margin: 20px 0;
}

.muscle-group {
  background: #bf3b3b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagram-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.muscle-diagram-front,
.muscle-diagram-back {
  width: 150px;
  height: 276px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}
