.category-section,
.exercise-label {
  margin: 15px 0;
}

.category-label,
.exercise-label,
.post-title-label,
.post-description-label {
  display: block;
  margin-bottom: 10px;
}

#category-select,
#exercise-select,
#post-title {
  min-width: 18rem;
}

#post-description {
  min-width: 25rem;
}

.exercise-section {
  display: none;
}

.post-preview-section {
  display: none;
}

#post-title {
  margin-bottom: 10px;
}

#exercise-select {
  margin-bottom: 10px;
}

#post-description {
  display: block;
  margin-bottom: 10px;
}

.success-message {
  color: rgb(31, 146, 31);
  display: none;
}

.view-post-link {
  display: none;
}
